---
layout: main
---

<h1>Applied Oceanography, Watersports, and Data Science</h1>

<p>My ultimate goal is to contribute to our understanding of marine chemistry in order to help protect the oceans for the good of those who rely on them (everyone!). I’m a research and development engineer at <a href="https://scripps.ucsd.edu">Scripps Institution of Oceanography</a> and the head of R&D for the <a href="https://smartfin.org">Smartfin Project</a>. I invent and apply novel marine chemical sensing techniques and analytical approaches in the (mostly coastal) ocean in order to investigate natural and human-caused phenomena. I enjoy working on many aspects of ocean sensor networks, including sensor innovation (electrical and mechanical design as well as laboratory and field analysis), cloud data management, and, ultimately, data analysis and visualization.  My primary R&D tools include Python, C/C++, LabVIEW, SolidWorks, and MATLAB and I have also dabbled in R and Altium Designer.
</p>

<p>I work and play where the ocean meets the land. I’m a coastal oceanographer, surfer, paddleboarder, rower, sailor, teacher, and learner. Humans have always thought of coasts as playgrounds but we’ve more recently recognized that we also treat them as dumping grounds for our trash, (micro-)plastics, (treated) sewage, fossil fuel CO<sub>2</sub> emissions, and countless other chemicals. I study coastal waters because I want to protect them. For myself and for you. And for many generations to come.
</p>

<p>I am passionate about not just studying the planet but also about getting research out of the lab through various channels: education, outreach,  commercialization, and business partnerships. I believe that the best way to serve as stewards of this planet is to learn more about its wonders and convey them to as many people outside of our specialized domains as possible. Please explore my curriculum vitae and my various projects as a surfing and paddleboarding marine chemist @ Scripps Oceanography and an environmental scientist at the San Francisco Estuary Institute (2015 &ndash; 16). Thanks for visiting!
</p>

<hr>

{% for post in paginator.posts %}
<article class="post">
  {% if post.img %}
    <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : post.img}})" href="{{post.url | prepend: site.baseurl}}"></a>
  {% else %}
  {% endif %}
  <div class="post-content">
    <h2 class="post-title"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h2>
    <p>{{ post.content | strip_html | truncatewords: 15 }}</p>
    <span class="post-date">{{post.date | date: '%d-%b-%Y'}}</span>

  </div>
</article>
{% endfor %}

{% include pagination.html %}
