---
layout: main
---
<h1>Current Lab Members</h1>
{% for post in site.categories.lab-member-current %}

  <article class="post">
    {% if post.img %}
      <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : post.img}})"></a>
    {% else %}
    {% endif %}
    <div class="post-content">
      <h2 class="post-title"><a>{{post.title}}</a></h2>
      <p>{{ post.content }}</p>

    </div>
  </article>


{% endfor %}

<h1>Past Lab Members</h1>
{% for post in site.categories.lab-member-past %}

  <article class="post">
    {% if post.img %}
      <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : post.img}})" href="{{post.url | prepend: site.baseurl}}"></a>
    {% else %}
    {% endif %}
    <div class="post-content">
      <h2 class="post-title"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h2>
      <p>{{ post.content }}</p>

    </div>
  </article>

{% endfor %}

Work with us! 
</br>
<em>We are actively seeking new undergraduate and graduate students.</em> Potential undergraduate student researchers: please reach out to me at bresnahanp@uncw.edu to explore opportunities for a Directed Independent Study (DIS), Honors Thesis, or other ways of getting involved in COAST Lab research. Potential graduate student researchers: please take a look at the <a href="https://uncw.edu/cms/eddegrees.html">Ph.D. in Applied Coastal and Ocean Sciences<a/>, the <a href="https://uncw.edu/mms/">M.S. in Marine Science<a/>, and the <a href="https://uncw.edu/msgeoscience/">M.S. in Geoscience<a/> options and reach out if one of those and COAST Lab research are of interest. 
</br>
The primary qualities we seek in students are curiosity and a determination to learn. While lab members use skills like coding, simple circuit design and wiring, 3D design and printing, laboratory analyses, etc., we do not require that candidates have prior experience in these. Rather, we strive to teach new skills to those who are excited to put the time and effort into learning them and applying them toward specific scientific and engineering challenges with societal relevance. If you do have such skills, they will likely be put to good use, but if you do not, you might still be a great candidate for this lab!
</br>
If you are a member of the COAST Lab, you should be featured here! As both this website and many things in our lab are built using GitHub, new lab members should practice git and GitHub-based collaboration to get their information included here. See steps below for Professor Bresnahan's recommended approach for including your information. 
Professor Bresnahan's recommended approach for including your information on this page:
<ol>
  <li>Read GitHub quickstart instructions at <a href="https://docs.github.com/en/get-started/quickstart/">https://docs.github.com/en/get-started/quickstart/<a/></li>
  <li>Fork the main repository at <a href="https://github.com/SUPScientist/supscientist.github.io">https://github.com/SUPScientist/supscientist.github.io</a> following the above instructions</li>
  <li>Clone that fork to your desktop to work on it locally or work on the fork on GitHub</li>
  <li>Add a new .md file to the _posts subdirectory following the format of 2021-08-18-professorBresnahan.md but modifying both the name and the content with your information. No need to go all out (unless you want!), but please include a few key pieces of information, like where you are in your education (postdoc, undergrad student, grad student, technician, professor, etc.) and what your affiliation with the COAST Lab is (e.g., DIS, Honors student, summer researcher, etc.)</li>
  <li>If you so choose, please include a headshot or fieldwork action photo of yourself under assets/img, name it appropriately, and add its name to the frontmatter of your .md file (where mine currently says *img: Bresnahan_headshot.jpeg*)</li>
  <li>Once you are happy with your .md file content, its frontmatter, and your headshot, save everything</li>
  <li>Create a pull request into the *main* branch of the supscientist.github.io repo following the directions at <a href="https://docs.github.com/en/github/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-a-pull-request-from-a-fork">https://docs.github.com/en/github/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-a-pull-request-from-a-fork<a/></li>
  <li>Wait for Professor Bresnahan or another lab member with website management access to approve or request changes to your pull request, after which you should see your info appear here!</li>
  <li>You have now contributed to a COAST Lab GitHub repo&mdash;thank you!</li>
  </ol>