---
layout: main
---
If you are a member of the COAST Lab, you should be featured here! As both this website and many things in our lab are built using GitHub, new lab members should practice git and GitHub-based collaboration to get their information included here. See Professor Bresnahan's recommended approach for including your information below the list of lab members. 
</br>
</br>
<h1>Current Lab Members</h1>
{% for post in site.categories.lab-member-current %}

  <article class="post">
    {% if post.img %}
      <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : post.img}})" href="{{post.url | prepend: site.baseurl}}"></a>
    {% else %}
    {% endif %}
    <div class="post-content">
      <h2 class="post-title"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h2>
      <p>{{ post.content | strip_html | truncatewords: 15 }}</p>
      <span class="post-date">{{post.date | date: '%d-%b-%Y'}}</span>

    </div>
  </article>


{% endfor %}

<h1>Past Lab Members</h1>
{% for post in site.categories.lab-member-past %}

  <article class="post">
    {% if post.img %}
      <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : post.img}})" href="{{post.url | prepend: site.baseurl}}"></a>
    {% else %}
    {% endif %}
    <div class="post-content">
      <h2 class="post-title"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h2>
      <p>{{ post.content | strip_html | truncatewords: 15 }}</p>
      <span class="post-date">{{post.date | date: '%d-%b-%Y'}}</span>

    </div>
  </article>


{% endfor %}

Professor Bresnahan's recommended approach for including your information on this page:
<ol>
  <li>Read GitHub quickstart instructions at <a href="https://docs.github.com/en/get-started/quickstart/">https://docs.github.com/en/get-started/quickstart/<a/></li>
  <li>Fork the main repository at <a href="https://github.com/SUPScientist/supscientist.github.io">https://github.com/SUPScientist/supscientist.github.io</a> following the above instructions</li>
  <li>Clone that fork to your desktop to work on it locally or work on the fork on GitHub</li>
  <li>Add a new .md file to the _posts subdirectory following the format of 2021-08-18-professorBresnahan.md but modifying both the name and the content with your information. No need to go all out (unless you want!), but please include a few key pieces of information, like where you are in your education (postdoc, undergrad student, grad student, technician, professor, etc.) and what your affiliation with the COAST Lab is (e.g., DIS, Honors student, summer researcher, etc.)</li>
  <li>If you so choose, please include a headshot or fieldwork action photo of yourself under assets/img, name it appropriately, and add its name to the frontmatter of your .md file (where mine currently says *img: Bresnahan_headshot.jpeg*)</li>
  <li>Once you are happy with your .md file content, its frontmatter, and your headshot, save everything</li>
  <li>Create a pull request into the *main* branch of the supscientist.github.io repo following the directions at <a href="https://docs.github.com/en/github/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-a-pull-request-from-a-fork">https://docs.github.com/en/github/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-a-pull-request-from-a-fork<a/></li>
  <li>Wait for Professor Bresnahan or another lab member with website management access to approve or request changes to your pull request, after which you should see your info appear here!</li>
  <li>You have now contributed to a COAST Lab GitHub repo&mdash;thank you!</li>
  </ol>